<div id="custom_sidebar">
  
  <img src="http://placehold.it/150x140" alt="self" id="me">
  
  <h5>Kris Tonthat</h5>
  <p>
    Hello! I'm Kris.
	</p>
	<h5>Contact</h5>
	
  <ul id="contact_list">
    <li>
      <a href="http://github.com/ktonthat">
        <img src="/assets/images/icons/github.gif" alt="Facebook Link">
        Github
      </a>
    </li>
    <li>
      <a href="mailto:kris.tonthat@gmail.com">
       <img src="/assets/images/icons/send.png" alt="Newspaper Icon">
        Email
      </a>
    </li>
    </li>
  </ul>

</div>
